// Color
$text-color: #333;
$subtitle-color: #808080;
$link-color: #1f71ac;
// Paths
$path-to-images: '../../../../images/';
$path-to-fonts: '../../fonts/';

// Fonts
$main-font: 'PTSans', Arial, Helvetica, sans-serif;
